@charset "utf-8";
@import '../utility/*';

.contact_wrap{
  background: #272727;  
}
#contact{
  .header__carousel1 .item {
    background-image: url(../../img/contact/img_main_pc.jpg) !important;
    background-size: cover;
    @include max-screen(767px) {
      background-image: url(../../img/contact/img_main_sp.jpg) !important;
    }
  }
  .footer {
    background: #272727;
    padding-top: 0;
    .footer__contact{
      display: none;
    }
  }
  .contact_box1{
    background: #343434;
    padding: 80px 15px 70px;
    position: relative;
    @include max-screen(767px) {
      padding: 35px 0 50px;
    }
    .tab_box{
      margin-bottom: 60px;
      text-align: center;
      a{
        display: inline-block;
        vertical-align: top;
        font-family: "Noto Serif";
        font-weight: normal;
        &:nth-child(1){
          margin-right: 5px;
        }
        &:nth-child(2){
          margin-left: 5px;
        }
        span{
          display: inline-block;
          font-size: 18px;
          line-height: 29px;
          text-align: center;
          color: #b79167;
          width: 148px;
          padding: 8px;
          border-radius: 50px;
          border: 1px solid #b79167;
          transition: 0.5s;
        }
        &:hover,
        &.active{
          opacity: 1;
          span{
            background: #b79167;
            color: #fff;
          }
        }
      }
      @include max-screen(767px) {
        margin-bottom: 35px;
      }
    }
    .content_box{
      display: none;
      &.active{
        display: block;
      }
      .box2{
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
        padding-top: 70px;
        .inner_box{
          max-width: 372px;
        }
        li{
          padding-bottom: 15px;
          border-bottom: 1px solid #707070;
          margin-bottom: 15px;
          &:last-child{
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
        .box{
          font-family: "Noto Sans";
          padding-left: 50px;
        }
        .icon1{
          background: url(../../img/contact/icon1.svg) top 3px left no-repeat;
          background-size: 23px 33px;
        }
        .icon2{
          background: url(../../img/contact/icon2.svg) top 5px left no-repeat;
          background-size: 30px 30px;
        }
        .icon3{
          background: url(../../img/contact/icon3.svg) top 5px left no-repeat;
          background-size: 30px 28px;
        }
        .icon4{
          background: url(../../img/contact/icon4.svg) top 5px left no-repeat;
          background-size: 30px 27px;
        }
        .ttl{
          font-size: 16px;
          color: #B79167;
          margin-bottom: 7px;
        }
        .txt{
          font-size: 15px;
          letter-spacing: 0.02em;
          line-height: 19px;
          color: #fff;
        }
        @include max-screen(860px) {
          padding-top: 0;
          .inner_box{
            max-width: 100%;
          }
          .ttl{
            font-size: 15px;
            margin-bottom: 5px;
          }
        }
        @include max-screen(767px) {
          .inner_box{
            padding: 0 15px;
          }
        }
      }
      .box1{
        position: relative;
        width: 54%;
        right: -15px;
        float: right;
        .map_box{
          iframe{
            display: block;
            width: 100%;
            @include max-screen(767px) {
              height: 250px;
            }
          }
        }
        @include max-screen(860px) {
          position: static;
          width: 100%;
          margin-bottom: 35px;
          float: none;
        }
      }
    }
  }
  .contact_box2{
    background: #272727 url(../../img/common/bgFooter.png) center bottom no-repeat;
    padding: 85px 15px 95px;
    .inner_box{
      max-width: 1000px;
      margin: 0 auto;
    }
    @include max-screen(767px) {
      padding: 55px 15px 90px;
    }
    .ttl{
      font-family: "Noto Serif";
      font-size: 26px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      margin-bottom: 45px;
      span{
        color: #b79167;
      }
      @include max-screen(767px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    .form_box{
      font-size: 0;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 58px;
      .box{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-family: "Noto Serif";
        font-size: 15px;
        &:nth-child(1){
          padding-right: 15px;
        }
        &:nth-child(2){
          padding-left: 15px;
        }
      }
      .input{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
        input{
          width: 100%;
          padding: 15px;
          border-radius: 7px;
          background: #343434;
          font-family: "Noto Serif";
          border: 0;
          color: #fff;
          font-size: 15px;
        }
      }
      textarea{
        width: 100%;
        padding: 15px;
        border-radius: 7px;
        background: #343434;
        font-family: "Noto Serif";
        border: 0;
        color: #fff;
        height: 210px;
        font-size: 15px;
      }
      @include max-screen(767px) {
        margin-bottom: 35px;
        .box{
          display: block;
          width: 100%;
          &:nth-child(1){
            padding-right: 0;
          }
          &:nth-child(2){
            padding-left: 0;
          }
        }
        .input{
          margin-bottom: 15px;
          &:last-child{
            margin-bottom: 15px;
          }
          input{
            font-size: 14px;
          }
        }
        textarea{
          font-size: 14px;
        }
      }
    }
    .btn_box{
      text-align: center;
      .btn{
        width: 232px;
        display: inline-block;
        background: #B79167;
        border: 0;
        text-align: center;
        color: #fff;
        font-family: Georgia;
        font-size: 17px;
        letter-spacing: 0.16em;
        padding: 15px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        &:hover{
          opacity: 0.5;
        }
        &:after{
          content: "";
          position: absolute;
          width: 13px;
          height: 13px;
          display: block;
          background: url(../../img/contact/icon5.svg) center no-repeat;
          background-size: 13px 13px;
          top: 20px;
          right: 30px;
        }
      }
    }
  }
}













